.pg-dashboard {
  .dash-container {
    background: var(--primary-color);
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
  }

  .dash-sidenav {
    background-color: var(--primary-color-2);
    border: 0px;
    min-width: 350px;
    padding: 0 20px;

    .profile-data {
      margin-top: 40px;
    }
  }
}
