.pg-dashboard {
  .dash-container {
    background: var(--primary-color);
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;

    .sidenav-closer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 44px;
      height: 100%;
      cursor: pointer;

      mat-icon {
        font-size: 20px;
        color: var(--text-color-3);
        transform: rotate( 0deg );
        transition: transform 800ms ease;
      }
    }

    .sidenav-closer:hover {
      mat-icon {
        font-size: 22px;
      }
    }

    .sidenav-closer-mouse-over {
      mat-icon {
        transform: rotate( -180deg );
        transition: transform 800ms ease;
      }
    }
  }

  .dash-sidenav {
    background-color: var(--primary-color-2);
    border: 0px;
    min-width: 350px;
    padding: 0 20px;

    .profile-data {
      margin-top: 40px;
    }
  }
}
