<div class="pg-dashboard">
	<mat-drawer-container class="dashboard-container" autosize>
		<mat-drawer #drawer class="bx-sidenav" mode="side" opened="true">
			<div class="profile-data">
				<app-container-profile></app-container-profile>
			</div>
		</mat-drawer>

    <div class="bx-dashboard">

      <div class="sidenav-closer" [ngClass]="!isClosedSidenav ? 'sidenav-closer' : 'sidenav-closer-mouse-over'" (click)="sidenavCloser(drawer)">
        <mat-icon>arrow_back_ios</mat-icon>
      </div>

      <div class="dashboard">
        <div class="bx-banner">
          <app-banner></app-banner>
        </div>

        <div class="bx-projects">
          <h2>Meu Portfólio</h2>
          <app-project-card></app-project-card>
        </div>
      </div>

    </div>

	</mat-drawer-container>
</div>
