.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
  background-color: var(--primary-color-2);
  border-radius: 20px;
  padding: 30px;

  .bx-title {
    text-align: start;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .divider {
    margin: 10px 0 30px 0;
    border-top: 2px solid var(--secondary-color);
    border-radius: 20px;
    opacity: 100%;
  }

  .bx-description {
    p {
      color: var(--text-color-2);
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .bx-button {
    margin-top: auto;

    .btn-github {
      .fa-github {
        margin: 0 5px 0 0;
        color: var(--text-color);
        font-size: 20px;
      }
    }
  }
}
