<div class="card">

  <div class="bx-title">
    <h2 class="title">Classificador de imagens</h2>
    <div class="bx-languages">
      <span>Python</span>
    </div>
  </div>

  <hr class="divider">

  <div class="bx-description">
    <p class="description">
      Um projeto que, a partir de 720 imagens binárias pertencentes a 4 diferentes classes, é capaz de classificar as imagens com suas respectivas classes.
    </p>
  </div>

  <div class="bx-button">
    <button class="btn-github" mat-button>
      <i class="fa-brands fa-github"></i> GitHub
    </button>
  </div>

</div>
