<div class="card">

  <div class="bx-title">
    <h2 class="title">Projeto X Onde ninguém contigo. se o no Só volta. te your mundo. uma o tarde</h2>
  </div>
  <hr class="divider">

  <div class="bx-description">
    <p class="description">
      With do o hoje importa. Onde ninguém contigo. se o no Só volta. te your mundo. uma o tarde dumps que uma pra ? With do o hoje importa. Onde ninguém contigo. se o no Só volta. te your mundo. uma o tarde dumps que uma pra ?
    </p>
  </div>

  <div class="bx-button">
    <button class="btn-github" mat-button>
      <i class="fa-brands fa-github"></i> GitHub
    </button>
  </div>

</div>
