@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@100&family=Permanent+Marker&family=Satisfy&display=swap');

.banner {
  display: flex;
  width: 1156px;
  height: 320px;
  background-color: var(--primary-color-2);
  border-radius: 20px;
  cursor: pointer;
  transition: color 0.3s ease;

  .bx-info {
    margin: 70px 70px 0 70px;

    .bx-title {
      .title {
        font-size: 30px;

        &-name {
          font-family: 'Kaushan Script', cursive;
          font-size: 30px;
          color: var(--secondary-color);
        }
      }
    }

    .bx-subtitle {
      .subtitle {
        margin: 30px 0 30px 0;
        color: var(--text-color-2);
      }
    }

    .bx-buttons {
      display: flex;
      align-items: center;

      .btn-banner {
        margin-right: 18px;
        font-size: 25px;
        transition: all 0.3s ease;
      }

      .btn-banner:hover {
        color: var(--secondary-color);
      }
    }
  }

  .bx-images {
    margin: 20px 120px 0 auto;

    img {
      position: absolute;
      width: 182px;
      margin-left: 30px;
    }

    .shape {
      width: 220px;
      height: 220px;
      border-radius: 79% 21% 70% 30% / 39% 30% 70% 61% ;
      background-color: var(--secondary-color);
      transition: width 2s, height 2s;
      box-shadow: 0px 0px 40px 10px var(--secondary-color);
    }
  }
}

.banner:hover .bx-images .shape {
  width: 230px;
  height: 230px;
}

@media (max-width: 1623px) {
  .banner {
    width: 756px;
  }
}

@media (max-width: 1223px) {
  .banner {
    width: 352px;
    height: 285px;

    .bx-info {
      margin: 30px 30px 0 30px;
    }

    .bx-images {
      display: none;
    }
  }
}
