<div class="banner">
  <div class="bx-info">
    <div class="bx-title">
      <span class="title">Olá, eu sou o </span><span class="title-name">Edu</span>
    </div>

    <div class="bx-subtitle">
      <p class="subtitle">Este é o site oficial do meu portfólio para mostrar<br>detalhadamente todos meus projetos e
        experiências<br>com desenvolvimento.</p>
    </div>

    <button class="btn-download" mat-flat-button> Download CV </button>
  </div>

  <div class="bx-images">
    <img src="assets/images/banner-images/eupng.png">
    <div class="shape"></div>
  </div>

</div>
