<div class="banner">
  <div class="bx-info">
    <div class="bx-title">
      <span class="title">Olá, eu sou o </span><span class="title-name">Edu</span>
    </div>

    <div class="bx-subtitle">
      <p class="subtitle">Este é o site oficial do meu portfólio para mostrar<br>detalhadamente todos meus projetos e
        experiências<br>com desenvolvimento.</p>
    </div>

    <div class="bx-buttons">
      <a [href]="'https://github.com/eduardo-n'" target="_blank"><i class="fa-brands fa-github btn-banner" ></i></a>
      <a [href]="'https://www.linkedin.com/in/edu-n/'" target="_blank"><i class="fa-brands fa-linkedin btn-banner"></i></a>
    </div>
  </div>

  <div class="bx-images">
    <img src="assets/images/banner-images/euBanner.png">
    <div class="shape"></div>
  </div>

</div>
