
.container-profile {
  .bx-personal-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .profile-picture {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-image: url('../../../../../assets/images/profile/eu-perfil.jpg');
      background-size: cover;
      background-position: center;
    }

    .profile-name {
      font-size: 18px;
      font-weight: 700;
      margin: 20px 0 20px 0;
      color: var(--text-color);
    }

    .bx-specialties {
      text-align: center;

      .profile-specialty {
        color: var(--text-color-2);
      }
    }
  }

  .bx-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px, 0, 0, 0;
    text-align: center;

    mat-icon {
      font-size: 20px;
      margin: 2px 5px 0 0;
      color: var(--text-color);
    }
  }

  .bx-address-data {
    margin: 0 20px 0 20px;

    .bx-item-personal-data {
      display: flex;

      h4{
        margin-bottom: 10px;
      }

      .item-data {
        margin-left: 10px;
        color: var(--text-color-2);
      }
    }
  }

  .bx-languages {
    display: flex;
    justify-content: center;

    .bx-item-language {
      margin: 0 15px 0 15px;
      text-align: center;

      .spinner {
        display: flex;
        flex-direction: column;
        align-items: center;

        .message {
          position: relative;
          text-align: center;
          left: 50%;
          transform: translate(-100%, -210%);
          font-size: 13px;
          color: var(--text-color-2);
        }
      }
    }
  }

  .bx-skills {
    margin-bottom: 60px;

    .bx-item-skill {
      cursor: pointer;

      .title-item{
        display: flex;
        justify-content: space-between;

        h4{
          margin: 10px 0 0 0;
        }

        .percent-item{
          color: var(--text-color-2);
        }
      }
    }

    .bx-item-skill:hover {
      background-color: var(--primary-color);
      border-radius: 10px;
      padding: 8px;
    }
  }
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--secondary-color);
  stroke-width: 20%;
}

.mat-slide-toggle {
  transform: scale(0.8);
}

mat-progress-bar {
  height: 7px;
  border-radius: 10px;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: var(--secondary-color);
}

::ng-deep .mat-progress-bar-buffer {
  background: var(--primary-color);
}
