
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import "/src/assets/themes/_themes.scss";

* {
  font-family: "Montserrat", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--text-color);
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4 {
  font-family: "Montserrat", sans-serif !important;
  color: var(--text-color);
}

span {
  color: var(--text-color);
}

.divider{
  border: 0;
  border-top: 1px solid var(--text-color-3);
  opacity: 20%;
  width: 100%;
  margin: 25px 0 25px 0;
  margin-left: auto;
  margin-right: auto;
}

.custom-modal {
  mat-dialog-container {
      padding: 0;
      max-height: 620px;
      background-color: var(--text-color-2);
      border-radius: 20px;
  }
}

.backdrop-background {
  background-color:rgba(0, 0, 0, 0.432);
  backdrop-filter: blur(10px);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color-4);
  border-radius: 6px;
}
