
:root {
  --primary-color: #1d1c25;
  --primary-color-2:  #24232F;
  --secondary-color: #00ff6a;
  --text-color: #eeebff;
  --text-color-2: #a2a0af;
  --text-color-3: #6f6e77;
  --text-color-4: #404046;
}

:root .light-theme {
  --primary-color: #f5f5f5;
  --primary-color-2: white;
  --secondary-color: #00aeff;
  --text-color: #3f3f3f;
  --text-color-2: #616161;
  --text-color-3: #c0c0c0;
  --text-color-4: #e6e6e6;
}

