
:root {
  --primary-color: #1d1c25;
  --primary-color-2:  #24232F;
  --secondary-color: #00ff6a;
  --text-color: #eeebff;
  --text-color-2: #a2a0af;
  --text-color-3: #6f6e77;
  --text-color-4: #404046;
}

:root .light-theme {
  --primary-color: rgb(238, 238, 238);
  --primary-color-2: white;
  --secondary-color: #00aeff;
  --text-color: #313131;
  --text-color-2: #505050;
  --text-color-3: #8d8d8d;
  --text-color-4: #c9c9c9;
}

